/**
 * Styles éditeur uniquement — bloc fils free-accordion/accordion-item
 */

.free-accordion-item-editor {
	border-radius: 2px;
	overflow: hidden;
    padding: 8px 12px;
	border: 2px dashed var(--wp-components-color-accent, #a0a0a0);
	border-radius: 2px;
	background: #f0f0f0;
}


/* Badge groupe en haut du bloc */
.free-accordion-item-group-badge {
	padding: 4px 10px;
	background: #f0f0f0;
	font-size: 11px;
	color: #646970;
	border-bottom: 1px solid #ddd;
}

.free-accordion-item-group-badge strong {
	color: #1e1e1e;
}

.free-accordion-item-group-badge em {
	color: #a0a0a0;
	font-style: normal;
}
.fa-item__content {
    margin-top:30px;
}
.fa-item__toggler,
.fa-item__content {
    padding: 10px;
    border-radius:5px;
    background: white;
    position: relative;
}
.fa-item__toggler::before,
.fa-item__content::before {
    content: "▶ Toggler";
    display: block;
    color: #646970;
    pointer-events: none;
    transform:translateY(-100%);
    margin-top: -15px;
    font-size:12px;
}
.fa-item__content::before {
    content: "▼ Contenu révélé";    
}